body {
    padding: 0;
    margin: 0;
    background: #f2f6e9;
    padding-top: 54px;
    background-image: url('../IMG/Tyre 2.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
/*--- navigation bar ---*/
.navbar {
    background:#6ab446;
}

.navbar-dark .nav-item .nav-link,
.navbar-dark .navbar-brand {
    color: #fff;
    cursor: pointer;
}
.nav-link {
    margin-right: 1em !important;
}

.navbar-collapse {
    justify-content: flex-end;
}

.navbar-dark .nav-item.active .nav-link,
.navbar-dark .nav-item:focus .nav-link,
.navbar-dark .nav-item:hover .nav-link,
.navbar-dark .navbar-brand:hover {
    color: #000000 !important;
}

.description {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -55%);
    text-align: center;
    background-color:lightyellow;
    border-radius: 25px;
    border: 2px solid green;
}

.description h1 {
    color: blue;
}
.description p {
    color: purple;
    font-size: 1.3rem;
    line-height: 1.5;

}

/* From Style.css */

/* Keep your CSS in here */

.float-mid {
    padding: 20px;
    text-align: center;
}

body {
    padding-top: 54px;
}


/* Responsive table */

table {
    margin: 0;
    padding: 0;
    border: 0; /* no border */
    border-collapse: collapse;
    width: 100%;
}

table td {
    border-bottom: 2px solid darkgrey;
    padding-top: 10px;
    padding: 10px;
    text-align: center;
}

table th {
    border-bottom: 2px solid darkgrey;
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
}

table tr {
    padding: 10px;
}

.table-header {
    font-size: larger;
    text-align: center;
    font-weight: bold;
    padding: 20px;
    text-decoration: underline darkgrey;
}

.table-column-head {
    font-weight: bold;
}


@media screen and (min-width: 996px) {

    

    .table-no-underline {
        border-bottom: None;
    }

    .orientations {
        width: 107px;
    }

    .bigNoShow {
        display: none;
    }



    table.alignment td {
        border-right: 2px solid darkgrey;
    }

    .maxwidth-empty-second {
        width: 107px;
    }

    .target {
        width: 250px;
    }

    .noRightBorder {
        border-right: None;
    }
}

.maxwidth-title {
    width: 150px;
}


.noRightBorder {
    border-right: None;
}

/* input form for

 */

.formheader {
    text-align: left;
    padding-top: 80px;
}

/* CSS response to small screen */

@media screen and (max-width: 995px) {

    #receiptID {
        width: 100%;
    }

    .description {
        margin-top: 40px;
        width: 90%;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -55%);
        text-align: center;
        background-color: lightyellow;
        border-radius: 25px;
        border: 2px solid green;
    }

    .bottomTD {
        border-bottom: none;
    }

    .underPadding {
        padding-bottom: 30px;
    }

    table thead {
        display: None /* no header */
    }

    table tr { /*styling for each row*/
        display: block; /*sets up for 1 element per line*/
        padding-top: 0px;
        padding-bottom: 0px;
        /*margin-bottom: 15px;*/
    }

    table td { /*styling for each individual cell*/
        border-right: none;
        border-top: 1px solid darkgrey;
        display: block;
        position: relative;
        padding-bottom: 10px;
    }

    table td:first-child {
        border-right: none;
        border-top: None;
    }

    table td:before {
        border-right: none;
        display: block;
        content: attr(data-label);
        font-weight: bold;
        position: absolute;
        top: 5px;
        left: 5px;
        padding-right: 5px;
        padding-bottom: 10px;
    }

    table td:after {
        padding-bottom: 10px;
    }

    .formheader {
        padding-top: 56px;
    }

    .noHeight {
        padding-top: 0px;
        padding: 0px;
        border-bottom: None;
    }

    .background {
        background-color: lightgrey;
    }

    .noShow {
        display: None;
    }
}

@media screen and (max-width: 775px) {
    table td:before {
        position: relative;
    }
}

.collapsible  {
    background-color: #eee;
    color: blue;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    border-radius: 20px;
}

.active, .collapsible:hover {
    background-color: yellow;
}

/* Style the collapsible content.*/
.content {
    padding: 0 18px;
    background-color: #f1f1f1;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
    border-radius: 30px;
    margin-bottom: 2%;
    text-align: center;
}

.collapsible:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 30px;
    color: white;
    float: right;
    margin-left: 5px;
    border-radius: 20px;
}

.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.footer {
    width: 100%;
    background-color: grey;
    color: white;
    text-align: center;
}

.navbar {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.button {
    border-radius: 19px;
    padding-left: 20px;
    padding-right: 20px;
}

.card {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 100px;
    padding: 20px;
    background-color:lightyellow;
    border: 2px solid green;
}

.card h2 {color: blue;}

.welcome {
    max-width: 60%;
}

.col {
    width: 100%;
    margin: 0px;
}

.text_size {
    float: left;
    margin-right: 5px;
}

.change_text {
    color: white;
    font-size: 1em;
}


.container {
    margin-bottom: 50px;
}